@* This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/. *@
@page "/settings"
@inject IAppSettingHandler SettingsHandler

<title>Settings - College Football Risk</title>

<h1 class="text-center">Settings</h1>

@if (_loaded)
{
    <div class="main">

        <div class="d-flex align-items-center">
            <RadzenSwitch @bind-Value="SettingsHandler.LightMode" Class="setting-control" />
            <span>@GetLabel(nameof(AppSetting.LightMode))</span>
        </div>
        <hr />

        <div class="d-flex align-items-center">
            <RadzenDropDown @bind-Value="SettingsHandler.Branding"
                            Data="@BrandingOptions"
                            Class="rz-dropdown-pill setting-control" />
            <span>@GetLabel(nameof(AppSetting.Branding))</span>
        </div>
        <hr />

        <div class="d-flex align-items-center">
            <RadzenDropDown @bind-Value="SettingsHandler.SeasonalBackground"
                            Data="@SeasonalOptions"
                            Class="rz-dropdown-pill setting-control" />
            <span>@GetLabel(nameof(AppSetting.SeasonalBackground))</span>
        </div>
        <hr />

    </div>
}

@code {
    private bool _loaded;

    private List<string> BrandingOptions => GetOptions(nameof(AppSetting.Branding));
    private List<string> SeasonalOptions => GetOptions(nameof(AppSetting.SeasonalBackground));

    private List<string> GetOptions(string propertyName)
    {
        var prop = typeof(AppSetting).GetProperty(propertyName);
        if (prop != null)
        {
            var attr = prop.GetCustomAttributes(typeof(SettingAttribute), false)
                           .FirstOrDefault() as SettingAttribute;
            if (attr?.Options != null)
                return attr.Options.ToList();
        }
        return new List<string>();
    }

    private string GetLabel(string propertyName)
    {
        var prop = typeof(AppSetting).GetProperty(propertyName);
        var attr = prop?.GetCustomAttributes(typeof(SettingAttribute), false)
                        .FirstOrDefault() as SettingAttribute;
        return attr?.Label ?? propertyName;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SettingsHandler.InitializeAsync();

            // Now that settings are loaded, enable rendering
            _loaded = true;
            StateHasChanged();
        }
    }
}




